/* Estilização das class */
.barata1 {
    width: 50px;
    height: 50px;
}
.barata2 {
    width: 70px;
    height: 70px;
}
.barata3 {
    width: 100px;
    height: 100px;
}

/* Estilização das divs */